backend/node_modules
backend/npm-debug.log
backend/.env
backend/*.log

.dockerignore
.vscode
./scrio

backend/setup-vps.sh
backend/.DS_Store
./backend/setup-vps.sh
node_modules
./node_modules
npm-debug.log
./npm-debug.log

dashboard/.env
dashboard/node_modules
dashboard/npm-debug.log
dashboard/.DS_Store
dashboard/.vscode
dashboard/build
dashboard/.dockerignore
dashboard/setup-vps.sh

mobile/.env
mobile/node_modules
mobile/npm-debug.log
mobile/.DS_Store
mobile/.vscode  